@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    - Paleta
    #DCB206 - principal
    #DB3600 - secundaria
    #5C3700 - terceira
    #C25D01 - destaques


*/
:root {
    --principal: #DCB206; 
    --secundaria: #DB3600;
    --terceira: #5C3700;
    --destaques: #C25D01;
    --font: 'Mulish', Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);


}

/* Generals */
#msg {
    background-color: rgb(0, 128, 21);
    color: white;
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 1.8em;
}

body, html {
    min-height: 100vh;
}


header {
    background-color: var(--principal);
    padding: 20px 5px 12px 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


header > h1 > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4em;
}

header ul {
    list-style-type: none;
}

nav {
    width: 100%;
}

ul li {
    display: inline-block;
    margin: 0 3px;
}

li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--destaques);
    transition: background-color .3s;
}

li a:hover {
    background-color: var(--secundaria);
}

/* Hero */
section#home {
    margin-bottom: 200px;
}


div#hero {
    height: 60vh;
    background: black url(../img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
}

#preta {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.445);
}

.form-group {
    text-align: center;
}

#preta .form-group > input {
    padding: 7px;
    border-radius: 5px;
    width: 400px;
}

#hero h1 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}

/* Produtos */

#produtos {
    background-color: rgba(0, 0, 0, 0.158);
    padding: 45px 0;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    gap: 30px;
    
}

#produtos > h2 {
    text-align: center;
    padding: 20px 0 40px 0;
    font-size: 2.4em;
    
}

.card {
    flex-basis: 31.4%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    height: auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.24);
    
}

.details {
    padding: 10px;
    
}

.details > p {
    height: auto;
    margin: 8px;
}

.card img {
    display: block;
    width: 100%;
    height: 195px;
}

span {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    max-height: 29px;
}

span div {
    font-size: 1.4em;
    
}

span > a {
    color: white;
    font-weight: bold;
    background-color: var(--principal);
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
}

/* Create */

section#create {
    max-width: 800px;
    margin: auto;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.212);
    height: 80vh;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#create h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 1.9em;
}

#create form input, textarea {
    position: relative;
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

#create form {
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    position: absolute;

    top: 50%;
    left: 50%;
   /*  left: 50%; */
    transform: translate(-50%, -50%); 
}

input[type=submit] {
    cursor: pointer;
    border: none;
    background-color: var(--principal);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color .3s;
}

input[type=submit]:hover {
    background-color: var(--destaques);
    
}

input[type=submit]:active {
    background-color: var(--secundaria);
}

/* show */

section#show {
    padding: 0px 20px;
    margin-bottom: 80px;
}

#show .img {
    width: 600px;
    margin: 30px auto;
}

.img img {
    border-radius: 20px;
}

#descricao {
    background-color: black;
    height: 50vh;
    margin-bottom: 20px;
    color: white;
}

#descricao h2 {
    font-size: 3.1em;
    font-weight: 300;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#descricao p {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-indent: 30px;
}

.optional-img {
    max-width: 80%;
    margin: auto;
}

.optional-img img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#show p {
    margin-top: 8px;
}
/* Dashboard */

#dashboard {
    padding: 20px;
    margin-bottom: 450px;
}

div#tabela {
    max-width: 1000px;
    margin: auto;
}

div#tabela > table {
    border-collapse: collapse;
}

caption {
    font-size: 1.8em;
    font-weight: bold;
    padding: 5px 0;
}
th, td {
    border: 1px solid black;
    padding: 3px;
    width: 300px;
    text-align: center;
}

tfoot th {
    text-align: left;
}

tfoot td {
    text-align: center;
}

th a {
    text-decoration: none;
}

td.acoes {
    display: flex;
    justify-content: space-around;
    
}

td a.atualizar {
    color: #fff;
    background-color: green;

}

td button.apagar {
    color: #fff;
    border: none;
    background-color: red;
}

td button.apagar, a.atualizar {
    width: 60px;
    border-radius: 5px;
}
 
button.apagar {
    cursor: pointer;
}

td a i {
    font-size: 1.2em;
}

footer {
    color: white;
   /*  position: absolute;
    bottom: 0; */
    width: 100%;
    padding: 10px;
    background-color: var(--terceira);
}

footer h1 {
    text-align: center;
    font-size: 2em;
}

footer p {
    text-align: center;
}

/* Estilo pra celulares */

@media screen and (max-width: 600px) {
   #container {
        flex-flow: column nowrap;


   }

   div.card {
        
   }

   /* Create */
   section#create {
     width: 100%;
     border: 1px solid black;
   }

   form {
    width: 100%;

   }

   /* Dashboard */
   section#dashboard {
    padding: 3px;
   }
   table {
    width: 260px;
    font-size: .7em;
    margin: auto;
   }
   th, td {
    width: 250px;
   }

   td.acoes {
    justify-content: center;
    gap: 4px;
   }
}
